<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div>
  		<ul>
  			<li><%= link_to "Adresy", addresses_path %></li>
  			<li><%= link_to "Osoby", people_path %></li>
  		</ul>
  	</div>
    <%= yield %>
  </body>
</html>
